.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.row-footer{
    background-color: #AfAfAf;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #7986CB ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

body{
    align: center;
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-inverse{
    background: #303F9F;
}

.navbar-inverse .navbar-nav .active > a,
.navbar-inverse .navbar-nav .active > a:hover,
.navbar-inverse .navbar-nav .active > a:focus {
    color: #fff;
    background: #1A237E;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background: #1A237E;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
    color: #eeeeee;
    background-color:  #303F9F;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color:#000000;
}

.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.affix{
    top: 100px;
}

.carousel{
    background: #1A237E;
}

.carousel .item{
    height: 300px;
}

.item img{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
    
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 650px;
    margin: 30px auto;
  }
 @media only screen and (max-width:600px){
       .modal-dialog {
    width: 350px;
    margin: 30px auto;
  }
    }
.btn-reserve{
    margin-top: 20px;
    align-content: center;
    background: #FFB347;
    color: ;
    font-size: 20px;
    display: block;
    width: 100%;
    min-height: 34px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;


    background-image: none;
    border: 1px solid #fff;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;   




}
.btn-sign{

    align-content: center;
    background: #58D3FC;
    color: #fff;
    font-size: 14px;
    display: inline;

    min-height: 34px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;


    background-image: none;
    border: 1px solid #fff;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;   




}


/*label{
                width: 180px;
                display: inline-block;
                text-align: right;
                vertical-align: top;

            }*/
